/*Layout*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  padding: 5vw 5vw 0 5vw;
  display: flex;
  flex-wrap: wrap;
  position: top !important;
  margin-top: 2em;
  width: 100%;
  z-index: 2;
}

.grid-block {
  clear: both;
  letter-spacing: -0.31em;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  overflow: hidden;
  text-rendering: optimizespeed;
  width: 100%;
}

.grid-block,
.grid-1,
.grid-lg-1-2,
.grid-lg-1-3 {
  display: inline-block;
  float: left;
  letter-spacing: normal;
  margin-top: 4em;
  padding: 0px 10px;
  vertical-align: top;
  word-spacing: normal;
  text-rendering: auto;
  width: 100%;
  zoom: 1;
}

/*Large*/
@media screen and (min-width: 64em) {
  .grid-lg-1-2 {
    width: 50%;
  }
  .grid-lg-1-3 {
    width: 33.3333%;
  }
}
/*-----------------*/

p {
  margin: 12px 0;
  line-height: 20px;
  letter-spacing: normal;
}

ul {
  padding: 0;
}

li {
  border-bottom: 1px dashed #e0e0e0;
  line-height: 1.55;
  list-style-type: none;
  padding: 7px 0;
}

kbd {
  background-color: rgba(64,64,64,.75); 
  color: #bd93f9;
  border-radius: 0;
  box-shadow: none;
  font-size: 1em;
  font-weight: bold;
  padding: 4px;
}

.container {
  background: #fff;
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
}

.well {
  background: rgba(64,64,64,.275);
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  min-height: 20px;
  margin-bottom: 20px;
  padding: 19px;
}

.link-to-repo {
  margin: 20px 0;
  text-align: center;
}

.link-to-repo p {
  margin-bottom: inherit;
}

.ja {
  font-size: 13px;
}

.ja h2 {
  font-size: 20px;
}

.ja kbd {
  font-size: 16px;
}

.box {
  background: rgba(64,64,64,.75);
  border: 1px solid #e7e7e7;
  margin: 10px 0;
  width: 100%;
}

.box .grid-block {
  padding: 0;
}

.box-header {
  background: #ebebeb;
  min-height: 30px;
  padding: 10px;
}

.box-header h2 {
  font-size: 16px;
  margin: 5px 0;
}

.box-body {
  font-size: 14px;
  display: block;
  clear: both;
  overflow: hidden;
  padding: 0 10px;
  padding-bottom: 20px;
}

.box-body li {
  border-bottom: none;
  line-height: inherit;
  list-style-type: none;
  padding: 7px 7px;
}

@media print {
  html,
  body {
    height: 90%;
  }

  body {
    line-height: 1.3;
    font-size: 10px;
  }

  h1 {
    font-size: 20px;
    margin-left: 0;
    margin-bottom: 8px;
    margin-top: 0;
  }

  h2 {
    font-size: 10px;
    margin-bottom: -10px;
    margin-top: 0;
    line-height: 10px;
  }

  #footer,
  .link-to-repo {
    height: 0px;
    display: none;
  }

  .commands-container {
    clear: both;
    overflow: hidden;
  }

  .commands-container > .grid-block:first-child {
    width: 60%;
  }

  .commands-container > .grid-block:last-child .grid-lg-1-3 {
    width: 50%;
  }

  .grid-block {
    clear: none;
    float: left;
    display: inline-block;
    overflow: hidden;
    width: 40%;
  }

  .grid-1 {
    padding: 0;
    margin: 0;
  }

  .grid-lg-1-3 {
    display: inline-block;
    float: left;
    letter-spacing: normal;
    padding: 0;
    word-spacing: normal;
    text-rendering: auto;
    width: 33.3333%;
    zoom: 1;
  }

  li {
    line-height: initial;
    padding: 4px 5px;
  }

  kbd {
    color: #bd93f9;
    font-size: 12px;
    padding: 0;
    background: rgba(64,64,64,.75);
  }

  .well {
    height: 0px;
    display: none;
    background: rgba(64,64,64,.275);
  }
}

@page {
  margin: 0.5cm;
}

