 * { margin: 0; padding: 0; box-sizing: border-box;
  
   /* sort out spacing on the myapps page */
 table, tr, td {
     border: none;
     padding: 2em;
 }
   
   /* Color scheme */
   
   --textcolor: #dadada;
   --bgcolor: #141414;
   --highlight: #ffd500;
  
 }
  
 @media (prefers-color-scheme: dark) {
   * {
     --textcolor: #dadada;
     --bgcolor: #141414;
     --highlight: #ffc400;
   }
 }                    
                     
 /* ------- Header ------- */
                     
                     
 header h1 {         
   font-size: 1em;   
   flex: 1; /* pushes nav to the right */
   white-space: nowrap;
   padding: 0 5vw .5em 0;
 }    
  body {
   height: 100%;
   font-size: 16px;
   font-family: 'Inconsolata', monospace;
   line-height: 1.4;
   color: var(--textcolor);
   background: var(--bgcolor);
   position: relative;
   /* max-width: 84em;  /* remove this for a full-width layout */
   margin: 0 auto;  /* centers the layout */
 }
